@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* COLOR */
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-blue-dark: hsl(249, 10%, 26%);
  --color-blue-gray: hsl(246, 25%, 77%);

  /* FONT */
  --font-display: "Poppins", sans-serif;
  --fw-1: 400;
  --fw-2: 500;
  --fw-3: 600;
  --fw-4: 700;

  /* EFFECT */
  --shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.2);
  --shadow-inset: inset 0 -0.5rem 0 rgba(0, 0, 0, 0.2);
}

/* GENERAL SETTING------------------------------------------------------ */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  /* align-items: center; */
  justify-content: center;

  font-size: 1.6rem;
  font-family: var(--font-display);

  background-image: url(./images/bg-intro-mobile.png),
    linear-gradient(
      to bottom,
      var(--color-primary-red),
      var(--color-primary-red)
    );

  /* overflow: hidden; */
}

.container {
  max-width: 23.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  padding: 8rem 2rem;

  position: relative;
}

input:focus {
  outline: none;
}

.hidden {
  border: 1px solid var(--color-primary-red);
  display: none;
}

/* SECITON TEXT SETTING------------------------------------------------------ */
.section__text {
  text-align: center;
  color: white;
}

.heading-1 {
  width: 70%;

  margin-inline: auto;
  margin-bottom: 2rem;

  font-size: 3 rem;
}

/* SECITON FORM SETTING------------------------------------------------------ */
.section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.btn {
  width: 100%;

  padding-block: 2rem;

  color: white;
  font-family: var(--font-display);
  font-weight: var(--fw-3);

  border: none;
  border-radius: 10px;

  transition: 0.2s;
}

.btn span {
  font-weight: 100;
}

.btn-shadow {
  box-shadow: var(--shadow);
}

.btn-inset-shadow {
  box-shadow: var(--shadow-inset);
}

.btn-purple {
  padding-inline: 9rem;
  background-color: var(--color-blue);
}

.btn-green {
  text-transform: uppercase;

  background-color: var(--color-primary-green);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;

  padding: 2rem;

  background-color: white;

  border-radius: 10px;

  box-shadow: var(--shadow);
}

.form__item {
  position: relative;
}

.form input {
  width: 100%;

  padding: 2rem;

  font-size: 1.4rem;
  font-weight: var(--fw-3);
  font-family: var(--font-display);

  border: 1px solid var(--color-blue-gray);
  border-radius: 10px;
}

.form input::placeholder {
  color: var(--color-blue-gray);
  font-family: var(--font-display);
  font-weight: var(--fw-4);
}

.form img,
.form label {
  position: absolute;

  color: var(--color-primary-red);
}

.form img {
  right: 2rem;
  top: 50%;

  transform: translateY(-50%);
}

.form label {
  right: 0;
  bottom: -1.5rem;

  font-size: 1.2rem;
}

.declaration {
  width: 90%;

  margin: auto;

  font-size: 1.2rem;
  text-align: center;
  color: var(--color-blue-gray);
}

.declaration span {
  color: var(--color-primary-red);
  font-weight: var(--fw-3);
}

/* MODAL-------------------------------------------------------------- */
.section__modal {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 100%;
  min-height: 100vh;
}

.modal {
  width: 375px;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;

  background-color: white;
  border-radius: 20px;

  /* margin-top: -5rem; */
  padding: 3rem;

  text-align: center;
  transform: translate(-50%, -50%);
}

.heading-2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.modal__icon {
  color: var(--color-primary-green);
  font-size: 3rem;

  padding: 1rem;

  border: 5px solid var(--color-primary-green);
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

/* RWD-------------------------------------------------------------- */
@media only screen and (min-width: 50em) {
  body {
    background-image: url(./images/bg-intro-desktop.png),
      linear-gradient(
        to bottom,
        var(--color-primary-red),
        var(--color-primary-red)
      );
  }

  .container {
    max-width: 80%;
    flex-direction: row;
  }

  .section__text {
    width: 50%;

    text-align: left;
  }

  .heading-1 {
    margin: 0;
    width: 80%;
    margin-bottom: 2rem;

    font-size: 3.5rem;
  }

  .content {
    width: 90%;
    font-size: 1rem;
  }

  .form {
    padding: 3rem;
    gap: 3rem;
  }

  .form label {
    bottom: -2rem;
  }

  .btn {
    cursor: pointer;
  }

  .btn:hover {
    filter: brightness(1.2);
  }

  .btn-purple {
    padding-inline: 0;
  }

  .declaration {
    font-size: 1rem;
  }
}
